{% extends "base.html" %}
{% block navbar %}
<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/dashboard">Rick and Morty's Minigame Madness</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
	<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Minigames
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/trivia">Intelligence Trivia</a>
            <a class="dropdown-item" href="/strength">Strength Arena</a>
            <a class="dropdown-item" href="/lotto">Lucky Lotto</a>
          </div>
	</li>
	<li class="nav-item">
          <a class="nav-link" href="/collection">Character Collection</a>
	</li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/logout">
	<button class="btn btn-outline-danger btn-lg my-2 my-sm-0" type="submit">Logout</button>
      </form>
    </div>
  </nav>
</header>
{% endblock %}
