{% extends "basenav.html" %}

{% block title %}Character Collection{% endblock %}

{% block body %}
<div class="my-4 container text-center">
  <h1>Character Collection</h1>
  <p class="lead">Here lies all the characters you have collected<br>Click on any of the characters' images to switch to that character</p>
</div>

<div id="collection" class="container-fluid text-center">
  <div class="row">
    {% for character in characters %}
    <div class="col m-3">
      <form action="/switchcharacter" method="POST">
        <input type="hidden" id="charID" name="charID" value="{{character[2]}}">
        <input type="hidden" id="charName" name="charName" value="{{ character[0] }}">
        <input type="hidden" id="charImg" name="charImg" value="{{character[1]}}">
        <input type="image" class="d-inline" src = {{character[1]}} width="200" alt="{{ character[0] }} image" style="border: 8px outset black">
        <!-- <--! <img   style="border: 8px outset black"> -->
      </form>
      <figcaption>{{ character[0] }}</figcaption>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
