{% extends "basenav.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<div class="my-4 container text-center">
  <h1 class="font-weight-bold">Welcome To Your Dashboard</h1>
</div>

{% if levelUp  %}
<div id="levelup" class="my-3 container text-center">
  <div class="alert alert-primary" role="alert">
    <h4>You have leveled up to Level {{ (xp/100 + 1) | int }}</h4>
    {% if ((xp/100 + 1) | int) % 5 == 0 %}
    <h4>You have unlocked a new character!</h4>
    <form action="/levelunlock" method="POST">
      <button type="submit" class="btn btn-primary btn-lg">Unlock Character</button>
    </form>
    {% endif %}
  </div>
</div>
{% endif %}

<div id="character" class="my-5 container text-center">
  <div class="row">
    <div class="col-sm">
      <img
        src="{{image}}"
        width="200"
        alt="character image"
        style="border: 8px outset black"
      />
    </div>
    <div class="col-sm my-auto">
      <h1 class="p-2 charname">{{name}}</h1>
    </div>
    <div class="col-sm my-auto">
      <img class="d-inline" src="/static/gold.png" width="100" alt="gold" />
      <h1 class="d-inline">{{ gold }}</h1>
    </div>
  </div>
</div>

<div id="stats" class="my-5 container">
  <div class="row">
    <div class="col-sm-3">
      <h3>Intelligence</h3>
    </div>
    <div class="col-sm-7 pt-2">
      <div class="progress">
        <div
          class="progress-bar bg-success"
          role="progressbar"
          style="width: {{ intelligence }}%"
          aria-valuenow="{{ intelligence }}"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
    <div class="col-sm-2">
      <h3>{{ intelligence }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <h3>Strength</h3>
    </div>
    <div class="col-sm-7 pt-2">
      <div class="progress">
        <div
          class="progress-bar bg-danger"
          role="progressbar"
          style="width: {{ strength }}%"
          aria-valuenow="{{ strength }}"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
    <div class="col-sm-2">
      <h3>{{ strength }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <h3>Luck</h3>
    </div>
    <div class="col-sm-7 pt-2">
      <div class="progress">
        <div
          class="progress-bar bg-warning"
          role="progressbar"
          style="width: {{ luck }}%"
          aria-valuenow="{{ luck }}"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
    <div class="col-sm-2">
      <h3>{{ luck }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <h3>Level {{ (xp/100 + 1) | int }}</h3>
    </div>
    <div class="col-sm-7 pt-2">
      <div class="progress">
        <div
          class="progress-bar bg-primary progress-bar-striped"
          role="progressbar"
          style="width: {{ (xp%100) | int }}%"
          aria-valuenow="{{ (xp%100) | int}}"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
    <div class="col-sm-2">
      <h3>{{ xp%100 }}/100</h3>
    </div>
  </div>
</div>

<div id="minigames" class="my-5 container text-center">
  <div class="row">
    <div class="my-2 col-sm">
      <a href="/trivia" class="btn btn-success btn-lg">Intelligence Trivia</a>
    </div>
    <div class="my-2 col-sm">
      <a href="/strength" class="btn btn-danger btn-lg">Strength Arena</a>
    </div>
  </div>
  <div class="row">
    <div class="my-2 col-sm">
      <a href="/lotto" class="btn btn-warning btn-lg">Lucky Lotto</a>
    </div>
    <div class="my-2 col-sm">
      <a href="/collection" class="btn btn-primary btn-lg"
        >Character Collection</a
      >
    </div>
  </div>
</div>
{% endblock %}
