{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="container text-center">
  <h1 class="font-weight-bold">Rick and Morty's Minigame Madness</h1>
</div>

<div class="loginform container-fluid">
  <div class="row">
    <div class="text-center col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h3 class="card-title">Log In</h3>
          <form action="/auth" method="POST" class="form-signin">
            <div class="form-label-group">
	      <label for="username">Username</label>
	      <input type="text" class="form-control" name="username" placeholder="Enter username" required>
            </div>
            <div class="form-label-group">
	      <label for="password">Password</label>
	      <input type="password" class="form-control" name="password" placeholder="Enter password" required>
            </div>
            <button class="mt-4 mx-auto btn btn-lg btn-primary btn-block text-uppercase" type="submit">Log In</button>
          </form>
        </div>
	<p>Don't have an account? <a href="/signup">Sign Up</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
