{% extends "basenav.html" %}

{% block title %}Trivia Results{% endblock %}

{% block body %}
<div class="my-4 container text-center">
  <h1>Intelligence Trivia Results</h1>
</div>
<div class="instruction">
  <p class="text-center lead"> The following will display the number of questions you answered correct.  </p>
  <h1 class="text-center"> {{correct}} / 5 </h1>
  <ol>
    {% for i in answers %}
    <li> <b style="color: #ff0037"> QUESTION: </b> {{i|safe}}</li>
    <b style="color: #52eb34"> ANSWER: </b> {{answers[i][0]|safe}}
    {% endfor %}
    <br>
  </ol>
  <br>
</div>
<div id="stats" class="my-5 container text-center">
  <div class="row">
    <div class="col-sm-3">
      <h3>Intelligence</h3>
    </div>
    <div class="col-sm-7 pt-2">
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
          role="progressbar"
          style="width: {{ intelligence }}%"
          aria-valuenow="{{ intelligence }}"
          aria-valuemin="0"
          aria-valuemax="100"
          ></div>
      </div>
    </div>
    <div class="col-sm-2">
      <h3>{{ intelligence }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <h3>Level {{ (xp/100 + 1) | int }}</h3>
    </div>
    <div class="col-sm-7 pt-2">
      <div class="progress">
        <div
          class="progress-bar bg-primary progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: {{ (xp%100) | int }}%"
          aria-valuenow="{{ (xp%100) | int}}"
          aria-valuemin="0"
          aria-valuemax="100"
          ></div>
      </div>
    </div>
    <div class="col-sm-2">
      <h3>{{ xp%100 }}/100</h3>
    </div>
  </div>
  <div>
    <img class="d-inline" src="/static/gold.png" width="50" alt="gold" />
    <h1 class="d-inline">+ {{gold}}</h1>
  </div>
</div>
<div class="my-5 container text-center">
  <a href="
	   {% if leveledUp %}
	   /dashboard/levelup
	   {% else %}
	   /dashboard
	   {% endif %}
" class="btn btn-warning btn-lg">Return to Dashboard</a>
</div>

{% endblock %}
