{% extends "base.html" %}

{% set active_page = "about" %}

{% block title %} About {% endblock %}

{% block body %}

<div class="content">
	<div class="about">
		<p>Welcome to coviD3.js, a website run by TwoFortyNine. We specialize in telling stories through beautiful and engaging data visualizations. With coviD3.js, we plan on analyzing the ways the coronavirus pandemic affects society outside of the hospital. For our first week, we plan on publishing two articles on changes in media sentiment and transportation.</p>
		<br />
		<p>This website's code can be found on <a class="link" href="https://github.com/kazijamal/TwoFortyNine_jamalK-lauE-leeR">GitHub</a></p>
		<br />
		<p>Inspired by <a class="link" href="https://fivethirtyeight.com/">FiveThirtyEight</a></p>
		<br />
		<p>Created by TwoFortyNine -- <a class="link" href="https://github.com/kazijamal">Kazi Jamal</a>, <a class="link" href="https://github.com/ericlau00">Eric "Morty" Lau</a>, <a class="link" href="https://github.com/raymondlee00">Raymond "ray. lee." Lee</a></p>
	</div>
</div>

{% endblock %}