{% extends "base.html" %}

{% set active_page = "numbers" %}

{% block title %} Numbers {% endblock %}

{% block body %}

<div class="content">
	<h2 class="subheading">Latest Numbers</h2>
	<hr class="subheading-hr">

	<div class="row">
		<div class="number-col col-md-4">
			<h1 class="number">2,000,000</h1>
			<p class="number-description">TikTok downloads between March 16 and March 22, 2020</p>
		</div>
		<div class="number-col col-md-4">
			<h1 class="number">35%</h1>
			<p class="number-description">increase in video game hardware and software sales from last year</p>
		</div>
		<div class="number-col col-md-4">
			<h1 class="number">5,000,000</h1>
			<p class="number-description">digital Animal Crossing: New Horizons sales in one month</p>
		</div>
	</div>
	<div class="row">
		<div class="number-col col-md-4">
			<h1 class="number">30,300,000</h1>
			<p class="number-description">Americans filed unemployment claims</p>
		</div>
		<div class="number-col col-md-4">
			<h1 class="number">77%</h1>
			<p class="number-description">increase of Netflix installations in Italy compared to the weekly average for all of February</p>
		</div>
		<div class="number-col col-md-4">
			<h1 class="number">560,000,000</h1>
			<p class="number-description">Tweets about coronavirus</p>
		</div>
	</div>
	<div class="row">
		<div class="number-col col-md-4">
			<h1 class="number">6,000,000</h1>
			<p class="number-description">new paid Spotify subscribers</p>
		</div>
		<div class="number-col col-md-4">
			<h1 class="number">500%</h1>
			<p class="number-description">increases in YouTube views on March 15, compared to the daily average for rest of the year, for personal activity videos with the terms "at home" or #withme</p>
		</div>
		<div class="number-col col-md-4">
			<h1 class="number">300,000,000</h1>
			<p class="number-description">daily Zoom users</p>
		</div>
	</div>
	<div class="row">
		<div class="number-col col-md-4">
			<h1 class="number">817%</h1>
			<p class="number-description">increases in Online sales of "virus protection" items like hand sanitizers, gloves, masks and anti-bacterial sprays in January and February compared to the same period last year</p>
		</div>
		<div class="number-col col-md-4">
			<h1 class="number">30%</h1>
			<p class="number-description">lower nitrogen dioxide rates than usual</p>
		</div>
		<div class="number-col col-md-4">
			<h1 class="number">72%</h1>
			<p class="number-description">decrease in scheduled international flights from the US compared to last year</p>
		</div>
	</div>
	<div class="row">
		<div class="number-col col-md-6">
			<h1 class="number">$8,300,000,000</h1>
			<p class="number-description">in emergency funding to combat the coronavirus outbreak</p>
		</div>
		<div class="number-col col-md-6">
			<h1 class="number">$9,200,000,000</h1>
			<p class="number-description">worth of total donations related to COVID-19</p>
		</div>
	</div>
</div>

{% endblock %}