{% extends "template.html" %}

{% set active_page = active_page|default('opportunities') -%}

{% block title %}Opportunities{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/favorite.js') }}"></script>
<script src="{{ url_for('static', filename='js/delete.js') }}"></script>
{% endblock %}

{% set sort_options = [
  ('dateposted-desc', 'Date Created (Newest - Oldest)'),
  ('dateposted-asc', 'Date Created (Oldest - Newest)'),
  ('deadline-desc', 'Deadline (Least Recent - Most Recent)'),
  ('deadline-asc', 'Deadline (Most Recent - Least Recent)'),
  ('cost-asc', 'Price ($ - $$$$)'),
  ('cost-desc', 'Price ($$$$ - $)')
  ] %}

{% block body %}

<!-- SIDENAV -->
<div class="side-container">
  <div class="sidenav">
    <form class="w-100" action="/opportunities" method="POST">
      <div class="d-flex flex-row justify-content-between">
        <span class="h5"><b>Refine Results</b></span>
        {% if body %}
        <a class="btn btn-outline-danger btn-sm w-25" href="/opportunities">Clear</a>
        {% endif %}
      </div>
      <hr>
      <input style="margin-bottom: 2vh;" class="form-control" type="search" name="search" placeholder="Search"
        aria-label="Search" {% if body %} value="{{ body['search'] }}" {% endif %}>
      <select style="margin-bottom: 2vh;" class="form-control" id="sort" name="sort">
        {% if body %}
        {% for value, display in sort_options %}
        <option value="{{ value }}" {% if body['sort'] == value %} selected {% endif %}>{{ display }}</option>
        {% endfor %}
        {% else %}
        {% for value, display in sort_options %}
        <option value="{{ value }}">{{ display }}</option>
        {% endfor %}
        {% endif %}
      </select>

      <button style="margin-bottom: 2vh;" class="btn btn-primary btn-sm form-control" type="button"
        data-toggle="collapse" data-target="#collapse-filters" aria-expanded="false" aria-controls="collapse-filters">
        Filter &#9662;
      </button>
      <br>
      <div id="collapse-filters" style="margin-bottom: 2vh;" class="collapse

      {% if body and (
              body['filters']['field']|length > 0 or body['filters']['maximum-cost'] != None or
              body['filters']['grade']|length > 0 or body['filters']['gender']|length > 0
            ) %}
      show
      {% endif %}
      ">
        <div class="card card-body">
          <div class="overflow-auto">
            <b> Field </b>
            <br>
            {% if body %}
            {% for field in fields %}
            <input type="checkbox" name="field-{{ field }}" value="{{ field }}"
              {% if field in body['filters']['field'] %} checked {% endif %}>
            <label>{{field}}</label><br>
            {% endfor %}
            {% else %}
            {% for field in fields %}
            <input type="checkbox" name="field-{{ field }}" value="{{ field }}">
            <label>{{field}}</label><br>
            {% endfor %}
            {% endif %}
            <br>
            <label for="minPrice"><b> Maximum Price </b> </label> <br>
            <div style="width: 16vw;" class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text" id="dollar-sign"><b>$</b></div>
              </div>
              <input type="number" class="form-control" name="maximum-cost" min=0 step=0.01 placeholder="Enter price"
                {% if body %} {% if body['filters']['maximum-cost'] != None %}
                value="{{ body['filters']['maximum-cost'] }}" {% endif %} {% endif %}>
            </div>
            <br>

            <b> Grade </b> <br>
            {% if body %}
            {% for value, display in grades %}
            <input type="checkbox" name="grade-{{ value }}" value="{{ value }}"
              {% if value in body['filters']['grade'] %} checked {% endif %}>
            <label>{{ display }}</label><br>
            {% endfor %}
            {% else %}
            {% for value, display in grades %}
            <input type="checkbox" name="grade-{{ value }}" value="{{ value }}">
            <label>{{ display }}</label><br>
            {% endfor %}
            {% endif %}
            <br>
            <b> Gender </b> <br>
            {% if body %}
            {% for value, display in genders %}
            <input type="checkbox" name="gender-{{ value }}" value="{{ value }}"
              {% if value in body['filters']['gender'] %} checked {% endif %}>
            <label> {{ display }}</label><br>
            {% endfor %}
            {% else %}
            {% for value, display in genders %}
            <input type="checkbox" name="gender-{{ value }}" value="{{ value }}">
            <label> {{ display }}</label><br>
            {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
      <button class="btn btn-outline-primary btn-sm w-100" type="submit">Show Results</button>
    </form>
  </div>
  <div id="favorite-side">
  </div>
</div>

<!-- OPPORTUNTIIES (right) -->
<div class="opportunities">
  {% for opp in opportunityList %}
  <div id="{{ opp.opportunityID }}" class="opp-block">
    <br>
    <a href="/opportunities/{{ opp.opportunityID }}">
      <h3>{{ opp.title }}
    </a> &nbsp;
    <!-- field -->
      {% if opp.field %}
      <a class="btn btn-primary btn-sm" style="color: white !important;">&nbsp;  {{ opp.field }} &nbsp; </a> &nbsp;
      {% endif %}
    </h3></a>
    <!-- date -->
    {% if date[opp.opportunityID][0] or date[opp.opportunityID][1] %}
    <span>
      {% if date[opp.opportunityID][0] %}
      {{ date[opp.opportunityID][0] }}
      {% endif %}
      {% if date[opp.opportunityID][1] %}
      - {{ date[opp.opportunityID][1] }}
      {% endif %}
      {% endif %}

      {% if date[opp.opportunityID][2] %}
      <br>
      <b>DEADLINE: {{ date[opp.opportunityID][2] }} </b>
      {% endif %}

      <br>
      <hr>
    </span>
    <!-- location -->
    {% if opp.location %}
    <p><b>{{ opp.location }}</b></p>
    {% endif %}

    <!-- description -->
    <p>{{ opp.description }}</p>
    <!-- links -->
    {% for link in opp.links %}
    <a href="{{ link }}">{{ link }}</a> <br>
    {% endfor %}

    <hr>

    <!-- tags -->
    <div class="tag-block">
      <!-- gender -->
      {% if opp.gender %}
      <a class="btn btn-primary btn-sm tag">&nbsp; {{ opp.gender }} &nbsp; </a> &nbsp;
      {% endif %}

      <!-- cost (if free) -->
      {% if opp.cost == 0 %}
      <a class="btn btn-primary btn-sm tag">&nbsp; free &nbsp;</a> &nbsp;
      {% endif %}

      <!-- grades -->
      {% for grade in opp.grades %}
      {% if grade == 9 %}
      <a class="btn btn-primary btn-sm tag">&nbsp; freshmen &nbsp; </a> &nbsp;
      {% elif grade == 10 %}
      <a class="btn btn-primary btn-sm tag">&nbsp; sophomores &nbsp; </a> &nbsp;
      {% elif grade == 11 %}
      <a class="btn btn-primary btn-sm tag">&nbsp; juniors &nbsp; </a> &nbsp;
      {% elif grade == 12 %}
      <a class="btn btn-primary btn-sm tag">&nbsp; seniors &nbsp; </a> &nbsp;
      {% endif %}
      {% endfor %}

      <button
        style="float: right; font-size: 20px; border: 0; padding-left: 1vw; background-color: transparent; outline: none;"
        class="text-secondary star" onclick="favorite('opportunity',{{opp.opportunityID}});">
        <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      {% if user.userType == "admin" %}
      <a
        style="float: right; font-size: 20px; border: 0; padding-left: 1.5vw; background-color: transparent; outline: none;"
        class="text-secondary star" href="/opportunities/edit/{{ opp.opportunityID }}">
        <i class="fa fa-edit" aria-hidden="true"></i>
      </a>
      <button
        style="float: right; font-size: 20px; border: 0; padding-left: 1vw; background-color: transparent; outline: none;"
        class="text-secondary star" onclick="deleteObject('opportunity',{{opp.opportunityID}});">
        <i class="fas fa-trash-alt" aria-hidden="true"></i>
      </button>
      {% endif %}
      
    </div>
    <br>
  </div>
  {% endfor %}
</div>

{% endblock %}
