 {% extends "template.html" %}

{% set active_page = active_page|default('resources') -%}

{% block title %}Resources{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/favorite.js') }}"></script>
<script src="{{ url_for('static', filename='js/delete.js') }}"></script>
{% endblock %}


{% set sort_options = [
  ('dateposted-desc', 'Date Created (Newest - Oldest)'),
  ('dateposted-asc', 'Date Created (Oldest - Newest)'),
  ] %}

{% block body %}

<!-- SIDENAV -->
<div class="side-container">
  <div class="sidenav">
    <form class="w-100" action="/resources" method="POST">
      <div class="d-flex flex-row justify-content-between">
        <span class="h5"><b>Refine Results</b></span>
        {% if body %}
        <a class="btn btn-outline-danger btn-sm w-25" href="/resources">Clear</a>
        {% endif %}
      </div>
      <hr>
      <input style="margin-bottom: 2vh;" class="form-control" type="search" name="search" placeholder="Search" aria-label="Search"
      {% if body %}
        value="{{ body['search'] }}"
      {% endif %}
      >
      <select style="margin-bottom: 2vh;" class="form-control" method="post" id="sort" name="sort">
        {% if body %}
          {% for value, display in sort_options %}
            <option value="{{ value }}"
              {% if body['sort'] == value %}
              selected
              {% endif %}
            >{{ display }}</option>
          {% endfor %}
        {% else %}
          {% for value, display in sort_options %}
            <option value="{{ value }}">{{ display }}</option>
          {% endfor %}
        {% endif %}
      </select>
      <button class="btn btn-outline-primary btn-sm w-100" type="submit">Show Results</button>
    </form>
  </div>
</div>

<!-- RESOURCES (right) -->
<div class="resources">
  {% for reso in res %}
  <div id="{{ reso.resourceID }}" class="resource-block">
    <br>
    <a href="/resources/{{ reso.resourceID }}">
      <h3>{{ reso.title }}</h3>
    </a>

    <hr>
    <!-- description -->
    <p>{{ reso.description }}</p>
    <!-- links -->
    <a href="{{ reso.link }}">{{ reso.link }}</a> <br>
    
    {% if user.userType == "admin" %}
    <a style="float: right; font-size: 20px; border: 0; padding-left: 1.5vw; background-color: transparent; outline: none;"
      class="text-secondary star" href="/resources/edit/{{ reso.resourceID }}">
      <i class="fa fa-edit" aria-hidden="true"></i>
    </a>
    <button
      style="float: right; font-size: 20px; border: 0; padding-left: 1vw; background-color: transparent; outline: none;"
      class="text-secondary star" onclick="deleteObject('resource',{{reso.resourceID}});">
      <i class="fas fa-trash-alt" aria-hidden="true"></i>
    </button>
    {% endif %}
    <br>
    <br>
  </div>
  {% endfor %}
</div>

{% endblock %}
