{% extends "base.html" %}
{% block profile %}
<li class="nav-item">
    <a class="nav-item nav-link" href="/feed">Feed</a></li>
<li class="nav-item">
    <a class="nav-item nav-link" href="/friends">Friends</a></li>
<li class="nav-item">
    <a class="nav-item nav-link" href="/communities">Communities</a></li>
<li class="nav-item">
    <a class="nav-item nav-link" href="/messages">Messages</a></li>
<li class="nav-item">
    <a class="nav-item nav-link" href="/game">Games</a></li>
<li class="nav-item">
    <a class="nav-item nav-link" href="/me">Account</a></li>

{% endblock %}
{% block loginoptions %}
<form class="form-inline my-2 my-lg-0" action="/logout">
    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Logout</button>
</form>
{% endblock %}
