<!DOCTYPE html>
<html lang="en">

     <head>
          <!-- META -->
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">

          <title>Caerus</title>

          <!-- BOOTSTRAP & CSS -->
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
               integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
               crossorigin="anonymous">

          <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
               integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
               crossorigin="anonymous" defer></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
               integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
               crossorigin="anonymous" defer></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
               integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
               crossorigin="anonymous" defer></script>

          <script src="https://kit.fontawesome.com/0cf2afd459.js" crossorigin="anonymous"></script>
     </head>

     <body class="landing-body vh-100 d-flex">
          <div class="justify-content-center align-self-center mx-auto">
               {% with messages = get_flashed_messages(with_categories=true) %}
               {% if messages %}
               {% for category, message in messages %}
               {% if category == "error" %}
               <div class="alert alert-danger text-align-center alert-dismissible fade show" role="alert">
               {% endif %}
                    {% if category == "success" %}
                    <div class="alert alert-success text-align-center alert-dismissible fade show" role="alert">
                    {% endif %}
                         {{message}}
                         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                         </button>
                    </div>
               {% endfor %}
               {% endif %}
               {% endwith %}
               <div class="text-center">
                    <span class="landing-title">Caerus</span> <br>
                    <span class="landing-subtitle">All your opportunities, in one place.</span> <br> <br>
                    <a class="btn btn-lg btn-outline-light" href="/auth"> <i class="fab fa-google"></i> &ensp; Log in</a>
               </div>
          </div>
     </body>

</html>