{% set navigation_bar = [
     ('/opportunities', 'opportunities', 'Opportunities'),
     ('/scholarships', 'scholarships', 'Scholarships'),
     ('/resources', 'resources', 'Resources'),
     ('/favorites', 'favorites', 'Favorites'),
     ('/preferences', 'preferences', 'Preferences'),
 ] %}

{% set fields = [
     'Academic Programs',
     'Business & Jobs',
     'Community Service',
     'Govt & Law',
     'Leadership & Advocacy',
     'Museums & Art',
     'Parks, Zoos, & Nature',
     'Engineering, Math, & CS',
     'Medical & Life Sciences',
     'Literature',
     'Performing Arts',
     'Visual Arts'
 ] %}

{% set genders = [
     ('co-ed', 'Co-Ed'),
     ('female-only', 'Female only'),
     ('male-only', 'Male only')
] %}

{% set grades = [
     ('9', 'Freshman'),
     ('10', 'Sophomore'),
     ('11', 'Junior'),
     ('12', 'Senior')
] %}

{% set active_page = active_page|default('opportunities') -%}

<!DOCTYPE html>
<html lang="en">

     <head>
          <!-- META -->
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>
               Caerus -- {% block title %}{% endblock %}
          </title>

          <!-- BOOTSTRAP & CSS -->
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
               integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
               crossorigin="anonymous">

          <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

          <!-- SCRIPTS -->
          {% block scripts %}
          {% endblock %}
          <script src="https://kit.fontawesome.com/0cf2afd459.js" crossorigin="anonymous"></script>
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
     </head>

     <body>
          {% block heading %}
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          {% for category, message in messages %}
          {% if category == "error" %}
          <div class="alert alert-danger text-align-center alert-dismissible fade show" role="alert">
          {% endif %}
          {% if category == "success" %}
          <div class="alert alert-success text-align-center alert-dismissible fade show" role="alert">
          {% endif %}
               {{message}}
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
               </button>
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}
          <div class="row w-100">
               <div class="col-8">
                    <span class="title">Caerus</span>
                    <br> <span class="subtitle">All your opportunities, in one place.</span>
               </div>
               <div class="col-4 mt-auto" style="padding-right: 0;">
                    <span class="float-right" style="padding: 0; margin: 0;">
                         <b>{{ user.name }}</b> &emsp;
                         <img style="border-radius: 50%; height: 50px; width: auto;" src="{{ user.imglink }}">
                    </span>
               </div>
          </div>
          <hr>

          <span class="bar">
               {% for href, id, caption in navigation_bar %}
               <a
                    {% if id == active_page %} class="bar-here" {% endif %}
                    href="{{ href|e }}"
                    {% if "create" in request.url %}
                    tabindex="-1"
                    {% endif %}
                    >{{ caption|e }}</a> &emsp;
               {% endfor %}
               {% if user.userType == "admin" or user.userType == "teacher" %}
               <div class="dropdown show d-inline">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Create
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                         <a class="dropdown-item" href="/opportunities/create">Opportunity</a>
                         <a class="dropdown-item" href="/scholarships/create">Scholarship</a>
                         <a class="dropdown-item" href="/resources/create">Resource</a>
                    </div>
               </div>
               {% endif %}
               <a
                    style="float: right"
                    class="text-danger"
                    href="/logout"
                    {% if "create" in request.url %}
                    tabindex="-1"

                    {% endif %}
                    >Log out</a></span>

          <br>
          <br>
          {% endblock %}

          {% block body %}
          {% endblock %}
     </body>

</html>
