<!DOCTYPE html>

<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <h1>Krispy Kreme</h1>
    <h2><i>Kazi Jamal and Kenneth Chin<i></h2>
    <h3>Login</h3>
    <form action="/auth" method="POST">
      <label for="username">Username</label>
      <input type="text" name="username">
      <br>
      <label for="password">Password</label>
      <input type="password" name="password">
      <br>
      <input type="submit" name="login-button" value="Log In">
    </form>
  </body>
</html>
