<!DOCTYPE html>
<html>
    <head>
        <title>Konstant Acceleration 10_occ</title>
    </head>
    <body>
        <h1>Occupations in the United States</h1>
        <h4>Team Konstant Acceleration -- Kazi Jamal and Albert Wan</h4>
        <h4>SoftDev1 pd9</h4>
        <h4>K10 -- Jinja Tuning</h4>
        <h4>2019-09-24</h4>
        <h4>
            A table of occupations in the United States and the percentage of
            the workforce they comprise.
        </h4>
        <p><b>Randomly Selected Occupation:</b> {{ rand }}</p>
        <table>
            <tr>
                <th>Job Class</th>
                <th>Percent</th>
                <th>Link to Help Get Started in the Field</th>
            </tr>
            {# iterates through passed dictionary variable #} {% for key in dict
            %}
            <tr>
                {# Job Class #}
                <td>{{ key }}</td>
                {# Percentage #}
                <td>{{ dict[key][0] }}</td>
                {# Link to Help Get Started in the Field #}
                <td>
                    <a href="{{ dict[key][1] }}">{{ dict[key][1] }}</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
