{% extends "base.html" %}

{% set active_page = "transportation" %}

{% block title %} Transportation {% endblock %}

{% block body %}

<div class="content">
	<h2 class="subheading">Latest Transportation</h2>
	<hr class="subheading-hr">
	
	<div class="article-preview">
		<div class="preview-left">
			<img src="{{ url_for('static', filename='img/nycpublic.jpg') }}" class="preview-img"/>
		</div>
		<div class="preview-right">
			<a href="/transportation/nycpublic" class="preview-title">NYC Public Transportation</a>
			<p class="preview-description">Displays transportation changes in New York City during quarantine</p>
		</div>
	</div>
</div>

{% endblock %}